body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: paleturquoise;
}

.container {
    box-sizing: border-box;
    border: red solid 5px;
    height: 50%;
    width: 50%;
    text-align: center;
    position: relative;
}

button {
    position: absolute;
    top: 50%;
    left: 45%;
}
